@use '@shared/styles/mixins' as *;
@use '@shared/styles/breakpoints-mixins' as *;

.header {
  max-width: 960px;
  padding: 16px;
  margin: auto;
  @include tablet {
    padding: 32px;
  }
}

.list {
  @include flex-center(column, 16px);
  @include tablet {
    flex-direction: row;
    gap: 8px;
  }

  a {
    padding: 4px;
    color: var(--color-primary-500);
    text-decoration: none;

    &:hover,
    &.active {
      color: var(--color-primary-400);
      text-decoration: underline;
    }
  }
}
