@use '@shared/styles/mixins' as *;

.button {
  padding: 16px 32px;
  font-size: var(--font-size-md);
  font-weight: 700;
  color: var(--color-secondary-800);
  text-align: center;
  cursor: pointer;
  background-color: var(--color-primary-500);
  border-radius: 8px;
  @include flex-center(row, 8px);

  &:hover {
    background-color: var(--color-primary-400);
  }

  &:disabled {
    color: var(--color-secondary-600);
    cursor: not-allowed;
    background-color: var(--color-primary-300);
    opacity: 0.6;
  }
}
