.button {
  height: 3rem;
  padding: 0 2rem;
  font-size: 1.15em;
  font-weight: 700;
  color: #242424;
  text-align: center;
  cursor: pointer;
  background-color: var(--color-primary-500);
  border-radius: 8px;

  &:hover {
    background-color: var(--color-primary-400);
  }

  &:disabled {
    color: var(--color-secondary-600);
    cursor: not-allowed;
    background-color: var(--color-primary-300);
    opacity: 0.6;
  }
}
