@use '@shared/styles/mixins.scss' as *;

.error {
  min-height: 40px;
  padding: 16px;
  margin: 16px auto;
  font-size: var(--font-size-md);
  font-weight: 700;
  color: var(--color-error-500);
  word-wrap: break-word;
  background-color: var(--color-error-100);
  border-radius: 16px;
  @include flex-center(column, 16px);

  &.hidden {
    visibility: hidden;
  }

  .error-message {
    flex-grow: 1;
    margin: 0;
    text-align: center;
  }
}
