.error {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 31.25rem;
  padding: 1rem;
  margin: 1rem auto;
  font-size: 1.15rem;
  font-weight: 700;
  color: #942531;
  word-wrap: break-word;
  background-color: #f8d7da;
  border-radius: 1rem;

  .error-message {
    flex-grow: 1;
    margin: 0;
    text-align: center;
  }
}
