@use '@shared/styles/mixins.scss' as *;

.error {
  max-width: 500px;
  padding: 16px;
  margin: 16px auto;
  font-size: var(--font-size-md);
  font-weight: 700;
  color: #942531;
  word-wrap: break-word;
  background-color: #f8d7da;
  border-radius: 16px;
  @include flex-center(column, 16px);

  .error-message {
    flex-grow: 1;
    margin: 0;
    text-align: center;
  }
}
