:root {
  // colors
  --color-primary-500: #f97316;
  --color-primary-400: #fb923c;
  --color-primary-300: #fdba74;
  --color-primary-200: #fee4c3;
  --color-secondary-800: #262626;
  --color-secondary-700: #44403c;
  --color-secondary-600: #525252;

  // font sizes
  --font-size-xs: 0.5rem; /* 8px */
  --font-size-sm: 0.75rem; /* 12px */
  --font-size-md: 1rem; /* 16px */
  --font-size-lg: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-2xl: 2rem; /* 32px */
  --font-size-3xl: 2.5rem; /* 40px */
  --font-size-4xl: 3rem; /* 48px */
}
