@use '@shared/styles/mixins' as *;
@use '@shared/styles/breakpoints-mixins' as *;

.cards-container {
  flex-wrap: wrap;
  width: 100%;
  @include flex-center(row, 16px);
}

.card-landing {
  width: 100%;
  max-width: 320px;

  @include tablet {
    max-width: 420px;
  }

  .card-title {
    margin: 0;
  }

  .card-description {
    margin-top: 8px;
    margin-bottom: 0;
  }
}
