.card {
  padding: 20px;
  overflow: hidden;
  color: var(--color-secondary-800);
  word-wrap: break-word;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
}
