:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: var(--color-secondary-800);
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary-500: #f97316;
  --color-primary-400: #fb923c;
  --color-primary-300: #fdba74;
  --color-primary-200: #fee4c3;
  --color-secondary-800: #262626;
  --color-secondary-700: #44403c;
  --color-secondary-600: #525252;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
  margin: 0 3rem;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  border: none;
}
